img {
  width: 50px;
  height: 50px;
}

form {
  margin-bottom: 20px;
}

.title{
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

.top-container{
  text-align: center;
  padding: 100px;
  color: white;
  border-bottom: 5px solid var(--secondary-bg-color);
}

.toggle-container {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.toggle-container .fa-moon {
  font-size: 24px;
  color: white;
}

/* Default Light Theme */
body {
  font-family: 'Montserrat-bold', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  height: 100vh;
  justify-content: center;
  --bg-color: #f7f8fa;
  --text-color: #333;
  --primary-bg-color: #007BFF;
  --secondary-bg-color: #0056b3;
  --btn-bg-color: #007BFF;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.top-container {
  background-color: var(--primary-bg-color);
}

.btn-primary {
  background-color: var(--btn-bg-color);
}

Dark Theme
body[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #f7f8fa;
  --primary-bg-color: #0056b3;
  --secondary-bg-color: #007BFF;
  --btn-bg-color: #0056b3;
}
